@import "../constants/colors.less";

@rightColumn: 350px;

:host {
  display: block;

  background-color: @bgColor;
  color: @mainTextColor;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

server-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  transition: right 300ms;
}

server-list.half {
  right: @rightColumn;
}

.details {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  bottom: 0;
  transition: width 300ms;
}

.details.half {
  display: block;
  width: @rightColumn;
  overflow: auto;
  padding: 10px;
}