@import "../constants/common.less";

@rightColumn: 350px;

:host {
  display: block;
  .grad(@bgColor);
  color: @mainTextColor;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

server-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  transition: right 300ms;

  &.half {
    right: @rightColumn;
  }
}

.details {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  bottom: 0;
  transition: width 300ms;
}

.details.half {
  display: block;
  width: @rightColumn;
  overflow: auto;
  padding: 10px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  font-size: 5em;
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;

  animation: rotating 2s linear infinite;
  transition: opacity 300ms;

  pointer-events: none;
}