@import "../constants/common.less";

:host {
  display: block;
}

ul {
  margin: 0;
  padding: 0 0 0 10px;
  text-align: left;
  list-style-type: disc;
}

li {
  overflow: hidden;
  text-overflow: ellipsis;
}

:host(.failure) report-entry {
  .mark-failure();
}

:host(.success) report-entry {
  .mark-success();
}

.header {
  background-color: @Base0;
  color: @Base03;
  border-radius: 3px;

  font-size: 1.25em;
  text-align: center;
  text-transform: capitalize;

  margin-top: 20px;
}