@import "colors.less";

.mark(@color) {
  border-left: 3px solid @color;
  border-color: @color;
}

.mark-success() {
  .mark(@colorOk);
}

.mark-failure() {
  .mark(@colorNg);
}

.button-style(@background: @bgColorHighlight,
              @text: @mainTextColor,
              @hover:@bgColorSelected) {
  :host {
    .button-style-elem(@background, @text, @hover);
  }

  :host(:hover) {
    .button-style-hover(@background, @text, @hover);
  }
}

.button-style-elem(@background: @bgColorHighlight,
              @text: @mainTextColor,
              @hover:@bgColorSelected) {
  padding: 5px;

  color: @text;
  background-color: @background;

  text-transform: capitalize;

  cursor: pointer;
  transition: background-color 300ms, color 300ms;
}

.button-style-hover(@background: @bgColorHighlight,
              @text: @mainTextColor,
              @hover:@bgColorSelected) {
  background-color: @hover;

  color: @textColorSelected;
}