@import "colors.less";

.mark(@color) {
  border-left: 3px solid @color;
  border-color: @color;
}

.mark-success() {
  .mark(@colorOk);
}

.mark-failure() {
  .mark(@colorNg);
}

.button-style(@background: @bgColorHighlight,
              @text: @mainTextColor,
              @hover:@bgColorSelected) {
  :host {
    .button-style-elem(@background, @text, @hover);
  }

  :host(:hover) {
    .button-style-hover(@background, @text, @hover);
  }
}

.button-style-elem(@background: @bgColorHighlight,
              @text: @mainTextColor,
              @hover:@bgColorSelected) {
  padding: 5px;

  color: @text;
  .grad(@background);

  text-transform: capitalize;

  cursor: pointer;
  transition: background-color 300ms, color 300ms;
}

.button-style-hover(@background: @bgColorHighlight,
              @text: @mainTextColor,
              @hover:@bgColorSelected) {
  .grad(@background);
  background-color: @hover;

  color: @textColorSelected;
}

.grad(@baseColor) {
  background-image: linear-gradient(112.1deg, @baseColor 11.4%, lighten(@baseColor, 5%) 70.2%);
  background-attachment: fixed;
}
