@import "../constants/common.less";

icon-svg {
  position: absolute;
  top: 0;
  left: 0;
}

:host {
  display: block;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 1em;
}

.core {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cursor, .tick {
  position: absolute;
  left: 0;
  top: 0;
  height: 1em;
}

.cursor {
  background-color: @colorOk;
}

.tick {
  border-right: 1px dotted @colorNg;
}

.body {
  border: 1px dotted @mainTextColor;
  position: absolute;
  top: 2px;
  left: 1.5em;
  right: 0;
  bottom: 2px;

  overflow: hidden;
  border-radius: 1em;
}

.label {
  text-transform: none;
  height: 1em;
  width: 0;
  position: absolute;
  top: 0;
  left: 1.5em;
  opacity: 0;
  overflow: hidden;
}

.labelled {
  .body {
    left: 5em;
  }

  .label {
    opacity: 1;
    width: 3.5em;
  }
}

.warn .cursor {
  background-color: @colorNg;
}