.report-details {
    white-space: pre-line;
    font-family: "monospace";
}

ul {
    margin: 0;
    padding: 0 0 0 10px;
    text-align: left;
    list-style-type: disc;
}

ul.report-details {
    padding: 0;
    list-style-type: none;
}

li {
    overflow: hidden;
    text-overflow: ellipsis;
}

.key {
    font-weight: bold;
}