@import "../constants/colors.less";

.button-style();

:host {
  vertical-align: top;
  display: inline-block;

  width: 200px;
  min-height: 100px;
  margin: 10px;
}

:host(.OK) {
  .mark-success();
}

:host(.NG) {
  .mark-failure();
}

.title {
  font-size: 20px;
  font-weight: bolder;
  color: @titleTextColor;
}

.OK {
  .mark-success();
  padding-left: 5px;
}

.NG {
  .mark-failure();
  padding-left: 5px;
}