@import "../constants/common.less";
@import "../../node_modules/css.gg/icons/css/check.css";
@import "../../node_modules/css.gg/icons/css/close.css";

.button-style();

:host {
  vertical-align: top;
  display: inline-block;

  width: 200px;
  min-height: 100px;
  margin: 10px;

  position: relative;
  overflow: hidden;
}

:host(.OK) {
  .mark-success();
}

:host(.NG) {
  .mark-failure();
}

.title {
  font-size: 20px;
  font-weight: bolder;
  color: @titleTextColor;
}

.monitor.OK {
  .mark-success();
  padding-left: 5px;
  color: @colorOk;
}

.monitor.NG {
  .mark-failure();
  padding-left: 5px;
  color: @colorNg;
}


div.icon {
  display: block;
  position: absolute;
  zoom: 4;
  opacity: .5;
  pointer-events: none;
  top: -5px;
  right: -5px;
}

.icon.OK {
  color: @colorOk;
}

.icon.NG {
  color: @colorNg;
}