@import "../constants/common.less";

.button-style();

:host {
  vertical-align: top;
  display: inline-block;

  width: 200px;
  min-height: 100px;
  margin: 10px;

  position: relative;
  overflow: hidden;
}

:host(.OK) {
  border: 1px solid;
  .mark-success();
}

:host(.NG) {
  border: 1px solid;
  .mark-failure();
}

.title {
  font-size: 20px;
  font-weight: bolder;
  color: @titleTextColor;
}

.monitor.OK {
  .mark-success();
  padding-left: 5px;
  color: @colorOk;
}

.monitor.NG {
  .mark-failure();
  padding-left: 5px;
  color: @colorNg;
}

.shakebox {
  display: block;
  width: 100%;
  padding-left: 5px;
}

.shake {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 2px;
  border-radius: 3px;

  &.OK {
    background-color: @colorOk;
  }

  &.NG {
    background-color: @colorNg;
  }
}