@import "../constants/colors.less";

:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  padding: 5px;

  background-color: @bgColorHighlight;
}

#server {
  color: @titleTextColor;
  font-size: 20px;
  font-weight: bolder;
}