@import "../constants/common.less";

:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;

  padding: 10px;

  .grad(@bgColorHighlight);
}

#server {
  color: @titleTextColor;
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;

  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

th {
  text-align: right;
  font-weight: normal;
  white-space: nowrap;
}

th[colspan] {
  padding-top: 10px;
  padding-bottom: 5px;

  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

input, select, textarea {
  color: @mainTextColor;
  background-color: @bgColor;

  border: 1px solid @mainTextColor;
}

settings-button + settings-button {
  margin-top: 3px;
}